<footer class="text-bg-dark text-center py-3">
  <div class="container">
    <p class="mb-2"><small>Built with Node.js and Express.js.</small></p>
    <p class="mb-0"><small>&copy; <%= new Date().getFullYear() %></small></p>
  </div>
</footer>
